body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.welcome {
  float: left;
  font-size: 30px;
  margin-left: 2%;
  position: absolute;
  top: 50%;
  transform: translateY(-110%);
}

.logoutBtn {
  width: 9%;
  height: 100%;
  font-size: 40px;
  float: right;
  background-color: #79C4BD;
  border: none;
  color: white;
  padding: 0px 60px;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: #61A49E;
}

.nav-top {
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #79C4BD;
  height: 10%;
}

.nav-btn-group {
  height: 90%;
  width: 15%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 10%;
  left: 0px;
}

.content {
  height: 90%;
  width: 85%;
  position: fixed;
  top: 10%;
  left: 15%;
  background-color: #61A49E;
}

.nav-btn-group .button {
  /*background-color: #4CAF50; !* Green *!*/
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 550%;
  cursor: pointer;
  width: 100%;
  display: block;
  height: 25%;
}

#managementScreen {
  display: block;
}

#calendarScreen {
  display: none;
}

#scheduleScreen {
  display: none;
}

#inboxScreen {
  display: none;
}

#manage {
  background: #F7CD54;
}

#manage:hover {
  background: #E5B429;
}

#calendar {
  background: #F2655A
}

#calendar:hover {
  background: #D24B3F
}

#schedule {
  background: #7FC8EC;
}

#schedule:hover {
  background: #66ADCF;
}

#inbox {
  background: #95BF74;
}

#inbox:hover {
  background: #7DA45E;
}