html {
  background: url(bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}

body {
  background-color: transparent !important;
}

h1 {
  padding-bottom: 10px;
}

canvas {
  border:1px solid #d3d3d3;
  background-color: #f1f1f1;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.tutorial {
    position: fixed;
    right: 40px;
    top: 120px;
}

.replay {
  position: fixed;
    right: 40px;
    top: 40px;
}

.title {
  margin-top: 200px;
}

#tutorialBtn {
  display: none;
}

#closeBtn {
  display: none;
}

#replayBtn {
  display: none;
}

#gameCanvas {
  display: none;
  background-color: transparent;
  opacity: 1;
}

#livesTxt {
  position: fixed;
  left: 40px;
  top: 40px;
  display: none;
}

#scoreTxt {
  position: fixed;
  left: 40px;
  top: 80px;
  display: none;
}